/* ICONS */
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bamum:wght@400;500&display=swap');

/* styling */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans Bamum', sans-serif;
}
/* ////////////////////////////////////////////////////////////////////// */
/* navbar */
nav ul{
    display: flex;
    justify-content: left;
    list-style-type: none;

    background-color: #000000;
    height: 44px;
    padding: 5px;

    color: #ffffff;
    font-family: 'Noto Sans Bamum', sans-serif;
}
nav li{
    padding: 5px;
    margin-top: 3px;
}
.brand img{
    border-radius: 50%;
    width: 35px;

    position: relative;
    bottom: 5px;
}
.brand h4{
    font-size: 1.3rem;
    font-weight: 500;
}
.space{
    flex: 3;
}
button .options{
    display: flex;
    justify-content: end;
}

/* //////////////////////////////////////////////////////////////////////// */
/* container */
h3{
    margin-left:4%;
    padding-top: 3%;
    color: #ffffff;
}
.container{
    min-height: 80vh;
    background-image: linear-gradient(#30516f, #000000);
}
.container img{
    display: flex;
    position: absolute;
    right: 5%;
    top: 11%;
    border-radius: 4%;
}
.songList{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 35%;
}
.songList span{
    padding: 1%;
    background-color: #cfd8ec;
    margin: 4%;
    border-radius: 10%;

}
.songs{
    display: flex;
    position: relative;
    margin-left: 4%;
}
.songs i{
    padding-right: 5%;
}



/* //////////////////////////////////////////////////////////////////////// */
/* Current Song */
.songInfo img{
    display: flex;
    position: absolute;
    left: 2%;
    top: 10%;
    border-radius:5%;
}
.songInfo h4{
    display: flex;
    position: absolute;
    left: 18%;
    top: 15%;
    color: #ffffff;
}
.currSong{
    position: sticky;
    height: 20vh;
    background-color: #1a1a1a;
    bottom: 0;   
}
.currSong input{
    width: 60vw;
    position: relative;
    top: 70%;
    left: 20%;
    cursor: pointer;
}
.fa-2xl{
    display: flex;
    position: relative;
    left: 43.9%;
    top: 35px;
    padding: 3px;
    cursor: pointer;
}